.psd-bloc {
    padding: 12px;
    background-color: #fff;
    margin: 12px 0.5%;
}

.psd-picture {
    float: right;
    width: 35%;
}

.psd-description {
    width: 40%;
    float: right;    
    min-height: 291px;
}

span.psd-title {
    font-size: 36px;
    /* margin-bottom: 10px; */
    font-family: 'menu';
}

.psd-section {
    width: 96.1%;
    float: right;
    background-color: #e5ecf0;
    margin-bottom: 22px;
}

.psd-body {
    font-size: 18px;
    line-height: 28px;
}

